<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        
    <supportedRuntime version="v2.0.50727"/></startup>
    <system.serviceModel>
        <behaviors>
            <serviceBehaviors>
                <behavior name="UnturnedBot.Unturned.RocketServiceBehavior">
                    <serviceMetadata httpGetEnabled="true" />
                    <serviceDebug includeExceptionDetailInFaults="false" />
                </behavior>
                <behavior name="UnturnedBot.Unturned.Service1Behavior">
                    <serviceMetadata httpGetEnabled="true" />
                    <serviceDebug includeExceptionDetailInFaults="false" />
                </behavior>
            </serviceBehaviors>
        </behaviors>
        <services>
            <service behaviorConfiguration="UnturnedBot.Unturned.RocketServiceBehavior"
                name="UnturnedBot.Unturned.RocketService">
                <endpoint address="" binding="basicHttpBinding" contract="UnturnedBot.Unturned.IRocketService">
                    <identity>
                        <dns value="localhost" />
                    </identity>
                </endpoint>
                <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
                <host>
                    <baseAddresses>
                        <add baseAddress="http://localhost:8733/Design_Time_Addresses/UnturnedBot.Unturned/RocketService/" />
                    </baseAddresses>
                </host>
            </service>
          <service name="ConsoleApplication1.WCFService1" behaviorConfiguration="newBehaviour" >
            <endpoint address="mex"  binding="mexHttpBinding"
                      contract="IMetadataExchange" />

            <host>
              <baseAddresses>
                <add baseAddress="http://localhost:80/WCFService1" />
              </baseAddresses>
            </host>
          </service>
        </services>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IMainService">
                    <security mode="None">
                        <message clientCredentialType="UserName" />
                    </security>
                </binding>
            </basicHttpBinding>
        </bindings>
    </system.serviceModel>
</configuration>
